webservice/src/main/resources/currentDates.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dateservice.ws.dev.zaynukov.com"
                  targetNamespace="http://dateservice.ws.dev.zaynukov.com">
    <wsdl:types>
        <xs:schema xmlns="http://dateservice.ws.dev.zaynukov.com"
                   xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   attributeFormDefault="unqualified" elementFormDefault="qualified"
                   targetNamespace="http://dateservice.ws.dev.zaynukov.com">
            <xs:element name="myCurrentDateTime">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="myTimeZone" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="currentDateTimes" type="currentDateTimesType"/>
            <xs:complexType name="yourDateTimeType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="timeZone" type="xs:string"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="dateTimeType">
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="timeZone" type="xs:string" use="optional"/>
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:complexType name="otherDateTimeType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="dateTime" type="dateTimeType"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="currentDateTimesType">
                <xs:sequence>
                    <xs:element name="yourDateTime" type="yourDateTimeType"/>
                    <xs:element name="otherDateTime" type="otherDateTimeType"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:portType name="DateServicePort">
    </wsdl:portType>
    <wsdl:binding name="DateServicePortSoap11" type="tns:DateServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    </wsdl:binding>
    <wsdl:service name="DateServicePortService">
        <wsdl:port binding="tns:DateServicePortSoap11" name="DateServicePortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>