webservice/src/main/resources/datetime-all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://dateservice.ws.dev.zaynukov.com"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="myCurrentDateTime" type="myCurrentDateTimeType"/>
    <xs:complexType name="myCurrentDateTimeType">
        <xs:sequence>
            <xs:element type="xs:string" name="myTimeZone"/>
        </xs:sequence>
    </xs:complexType>
<!--

    <xs:element name="currentDateTimes" type="currentDateTimesType"/>
    <xs:complexType name="yourDateTimeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="timeZone"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="dateTimeType">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute type="xs:string" name="timeZone" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:complexType name="otherDateTimeType">
        <xs:sequence>
            <xs:element type="dateTimeType" name="dateTime" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="currentDateTimesType">
        <xs:sequence>
            <xs:element type="yourDateTimeType" name="yourDateTime"/>
            <xs:element type="otherDateTimeType" name="otherDateTime"/>
        </xs:sequence>
    </xs:complexType>
-->

</xs:schema>