webservice/src/main/resources/DateService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:ax23="http://resp.datetime.obj.webservice.dev.zaynukov.com/xsd"
                  xmlns:ns="http://service.webservice.dev.zaynukov.com" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                  xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl"
                  targetNamespace="http://service.webservice.dev.zaynukov.com">
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://req.datetime.obj.webservice.dev.zaynukov.com/xsd">
            <xs:complexType name="CurrentDateRequestRoot">
                <xs:sequence>
                    <xs:element minOccurs="0" name="myTimezone" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://resp.datetime.obj.webservice.dev.zaynukov.com/xsd">
            <xs:complexType name="CurrentTimeResponseRoot">
                <xs:sequence>
                    <xs:element minOccurs="0" name="otherDatetime" nillable="true" type="ax23:OtherDatetimeResponse"/>
                    <xs:element minOccurs="0" name="yourDatetime" nillable="true" type="ax23:YourDatetimeResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="OtherDatetimeResponse">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="date" nillable="true"
                                type="ax23:DateResponse"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="DateResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="timezone" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="value" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="YourDatetimeResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="date" nillable="true" type="ax23:DateResponse"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax22="http://req.datetime.obj.webservice.dev.zaynukov.com/xsd"
                   xmlns:ax24="http://resp.datetime.obj.webservice.dev.zaynukov.com/xsd"
                   attributeFormDefault="qualified" elementFormDefault="qualified"
                   targetNamespace="http://service.webservice.dev.zaynukov.com">
            <xs:import namespace="http://req.datetime.obj.webservice.dev.zaynukov.com/xsd"/>
            <xs:import namespace="http://resp.datetime.obj.webservice.dev.zaynukov.com/xsd"/>
            <xs:element name="currentDates">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="args0" nillable="true" type="ax22:CurrentDateRequestRoot"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="currentDatesResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax24:CurrentTimeResponseRoot"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="currentDatesRequest">
        <wsdl:part name="parameters" element="ns:currentDates"/>
    </wsdl:message>
    <wsdl:message name="currentDatesResponse">
        <wsdl:part name="parameters" element="ns:currentDatesResponse"/>
    </wsdl:message>
    <wsdl:portType name="DateServicePortType">
        <wsdl:operation name="currentDates">
            <wsdl:input message="ns:currentDatesRequest" wsaw:Action="urn:currentDates"/>
            <wsdl:output message="ns:currentDatesResponse" wsaw:Action="urn:currentDatesResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DateServiceSoap11Binding" type="ns:DateServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="currentDates">
            <soap:operation soapAction="urn:currentDates" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DateServiceSoap12Binding" type="ns:DateServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="currentDates">
            <soap12:operation soapAction="urn:currentDates" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="DateServiceHttpBinding" type="ns:DateServicePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="currentDates">
            <http:operation location="currentDates"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="DateService">
        <wsdl:port name="DateServiceHttpSoap11Endpoint" binding="ns:DateServiceSoap11Binding">
            <soap:address location="http://localhost:8080//services/com/zaynukov/dev/webservice/service/DateService"/>
        </wsdl:port>
        <wsdl:port name="DateServiceHttpSoap12Endpoint" binding="ns:DateServiceSoap12Binding">
            <soap12:address location="http://localhost:8080//services/com/zaynukov/dev/webservice/service/DateService"/>
        </wsdl:port>
        <wsdl:port name="DateServiceHttpEndpoint" binding="ns:DateServiceHttpBinding">
            <http:address location="http://localhost:8080//services/com/zaynukov/dev/webservice/service/DateService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
